.venv
.env
/node_modules
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo (Virtual environments)
.venv/
venv/
env/

# IDE files (ví dụ: thư mục cài đặt của VS Code)
.vscode/
# Cấu hình bí mật môi trường
config/.env

# Model InsightFace (quá lớn >100MB, không push lên GitHub)
models-insightface/
